# PORT
PORT=8083

# HOST
REACT_APP_HOST_API=https://api-dev-minimal-v510.vercel.app

# ASSETS
REACT_APP_ASSETS_API=https://api-dev-minimal-v510.vercel.app

# MAP
REACT_APP_MAPBOX_API=
 
# FIREBASE
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=
REACT_APP_FIREBASE_APPID=

# AWS AMPLIFY
REACT_APP_AWS_AMPLIFY_USER_POOL_ID=
REACT_APP_AWS_AMPLIFY_USER_POOL_WEB_CLIENT_ID=
REACT_APP_AWS_AMPLIFY_REGION=

# AUTH0
REACT_APP_AUTH0_CALLBACK_URL=
REACT_APP_AUTH0_DOMAIN=
REACT_APP_AUTH0_CLIENT_ID=

